.container{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 50pt 50pt 0pt 50pt;
    gap: 50pt;
    background-color: cornflowerblue;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 20pt;
    align-items: center;
}

.title{
    font-size: 40pt;
    font-weight: 800;
}

.description{
    font-size: 20pt;
    font-style: italic;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    padding: 0pt;
    margin: 0;
    gap: 20pt;
}

.Settings{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    gap: 30pt;
}

.gridDimension{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0px 10px;
    padding: 20px 20px 0px 20px;
    gap: 10px;
    border: 2pt solid palevioletred;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: beige;
    font-size: 16pt;
    font-weight: 600;
}

.specifications{
    display: flex;
    gap: 10px;
}

.randomizer,
.eraser,
.variableBrightness{
    background-color: beige;
    border-radius: 10px;
    flex-grow: 1;
    margin: 0px 10px;
    font-weight: 600;
    font-size: 16pt;
}

.sketchingZone{
    display: flex;
    border: 2pt solid black;
    flex-grow: 10;
    height: 400pt;
    max-width: 700pt;
    flex-direction: column;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    background-color: white;
}

.row{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.elements{
    border: 0.1px solid black;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}